body {
 background-color: #cfd6d9;
}
button {
  background: none;
  border: none;
}

button:active,
button:focus {
  outline: none;
}

#x,
#o
{
  font-size: 6em;
  font-family: 'raleway';
  align

}
#x:active,
#o:active {
  text-shadow: none;
}


.board {
  width: 528px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 0;
  margin-top: 75px;
}
.squares {
  text-align: center;
  font-family: 'raleway', cursive;
  line-height: 166px;
  padding-top: -20px;
  border-width: 5px;
  border-color: #4583ec;
  display: inline-block;
  width: 166px;
  height: 166px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
.choice {
  text-align: center;
  font-family: 'raleway';
  position: relative;
}
.border-right{
  border-right-style: solid;
}
.border-left {
  border-left-style: solid;
}
.border-bottom {
  border-bottom-style: solid;
}
/* Modified slider from w3 schools */
.switch {
  position: relative;
  display: inline-block;
  width: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2B;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider p{
  height: 50px;
  transition: margin-left .4s;
}
.slider p:before {
  position: absolute;
  content: 'EASY';
  font-size: 30px;
  margin-top: 7px;
  margin-left: -10px;
  color: #D9CB9E;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider p:before {
  content: "HARD";
  -webkit-transform: translateX(-48px);
  -ms-transform: translateX(-48px);
  transform: translateX(-48px);
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: 4px;
  bottom: 4px;
  background-color: #586967;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7A1D13;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7A1D13;
}

input:checked + .slider:before {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}