
// content page styles
.content {
	text-align: left;


	& > * {
		display: inline-block;
	}

	& h1 {
		color: $red500;
		font-family: "Lato", sans-serif;
		font-size: 2em;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: 500;
		vertical-align: bottom;
		cursor: pointer;

	}
	& input {

		height: 45px;
		width: 60%;

		padding: 10px;
		margin-left: 10px;

		border: 1px solid $red200;

		&:focus{
			outline: none;
			border: 1px solid $red400;
		}
	}

	& .button {
		display: none;
	} 

}


// content box display


// result styling
.results div div {

	display: block;
	background: white;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
	
	animation-name: fade-in-up; 
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;

}



.col-xs-12, .col-sm-6, .col-md-4, .col-lg-3 {
  margin-top: 10px;
}

/*
.container-fluid div div {
  background: #cfd6d9;
  
}
*/
@media only screen and (min-width: 480px) {
	// Mobile
		.results div {
		height: 300px;
	}

}

@media only screen and (min-width: 600px) {
    // For Tablets:
    	.results div {
		height: 250px;
	}

}
@media only screen and (min-width: 768px) {
	// For Desktop
	.results div {
		height: 200px;
	}
}